In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("SaleData.xlsx")

In [3]:
def least_sales(df):
    ls = df.groupby(["Item"])["Sale_amt"].min()
    return ls

In [4]:
least_sales(df)

Item
Cell Phone      3375.0
Desk             250.0
Home Theater    2000.0
Television      8386.0
Video Games      936.0
Name: Sale_amt, dtype: float64

In [5]:
def sales_year_region(df):
    lss = df.groupby(["Region",pd.DatetimeIndex(df['OrderDate']).year,"Item"])["Sale_amt"].sum()
    return lss

In [6]:
sales_year_region(df)

Region   OrderDate  Item
Central  2018       Cell Phone        6075.0
                    Desk               250.0
                    Home Theater     39000.0
                    Television      428884.0
                    Video Games       5616.0
         2019       Desk               625.0
                    Home Theater    173000.0
                    Television      167720.0
                    Video Games       8599.5
East     2018       Cell Phone       17775.0
                    Home Theater    115000.0
                    Television      155740.0
                    Video Games       5265.0
         2019       Cell Phone       21600.0
                    Home Theater      2000.0
                    Video Games       3627.0
West     2018       Television      105424.0
         2019       Cell Phone       17100.0
                    Desk               375.0
                    Home Theater     32000.0
Name: Sale_amt, dtype: float64

In [13]:
def days_diff(df,refdate):
    ref_date = pd.to_datetime(refdate)
    df['Diff_Date']=df['OrderDate']-ref_date
    return df

In [14]:
days_diff(df,'1-1-2016')

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,Diff_Date
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0,736 days
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0,753 days
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0,770 days
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0,787 days
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0,804 days
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0,821 days
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0,838 days
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0,855 days
8,2018-05-22,West,Douglas,Michael,Television,32,1198.0,38336.0,872 days
9,2018-06-08,East,Martha,Alexander,Home Theater,60,500.0,30000.0,889 days
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0,906 days
11,2018-07-12,East,Martha,Diana,Home Theater,29,500.0,14500.0,923 days
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0,940 days
13,2018-08-15,East,Martha,Alexander,Television,35,1198.0,41930.0,957 days
14,2018-09-01,Central,Douglas,John,Desk,2,125.0,250.0,974 days
15,2018-09-18,East,Martha,Alexander,Video Games,16,58.5,936.0,991 days
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28,500.0,14000.0,1008 days
17,2018-10-22,East,Martha,Alexander,Cell Phone,64,225.0,14400.0,1025 days
18,2018-11-08,East,Douglas,Karen,Cell Phone,15,225.0,3375.0,1042 days
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0,1059 days
20,2018-12-12,Central,Douglas,John,Television,67,1198.0,80266.0,1076 days
21,2018-12-29,East,Douglas,Karen,Video Games,74,58.5,4329.0,1093 days
22,2019-01-15,Central,Timothy,David,Home Theater,46,500.0,23000.0,1110 days
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0,1127 days
24,2019-02-18,East,Martha,Alexander,Home Theater,4,500.0,2000.0,1144 days
25,2019-03-07,West,Timothy,Stephen,Home Theater,7,500.0,3500.0,1161 days
26,2019-03-24,Central,Hermann,Luis,Video Games,50,58.5,2925.0,1178 days
27,2019-04-10,Central,Martha,Steven,Television,66,1198.0,79068.0,1195 days
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0,1212 days
29,2019-05-14,Central,Timothy,David,Television,53,1198.0,63494.0,1229 days
30,2019-05-31,Central,Timothy,David,Home Theater,80,500.0,40000.0,1246 days
31,2019-06-17,Central,Hermann,Shelli,Desk,5,125.0,625.0,1263 days
32,2019-07-04,East,Martha,Alexander,Video Games,62,58.5,3627.0,1280 days
33,2019-07-21,Central,Hermann,Sigal,Video Games,55,58.5,3217.5,1297 days
34,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0,1314 days
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0,1331 days
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0,1348 days
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0,1365 days
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0,1382 days
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0,1399 days
40,2019-11-17,Central,Hermann,Luis,Home Theater,11,500.0,5500.0,1416 days
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0,1433 days
42,2019-12-21,Central,Martha,Steven,Home Theater,28,500.0,14000.0,1450 days

In [7]:
def mgr_slsmn(df):
    new=df.groupby('Manager')['SalesMan'].unique().reset_index(name='list_of_salesmen')
    return new

In [8]:
mgr_slsmn(df)

   Manager            list_of_salesmen
0  Douglas      [Michael, Karen, John]
1  Hermann       [Shelli, Luis, Sigal]
2   Martha  [Alexander, Steven, Diana]
3  Timothy            [David, Stephen]

In [9]:
def slsmn_units(df):
    df1=pd.DataFrame()
    df1['total_sales']=df.groupby(["Region"])["Sale_amt"].sum()
    df1['salesman_count']=df.groupby("Region")["SalesMan"].nunique()
    return df1

In [10]:
slsmn_units(df)

         total_sales  salesman_count
Region
Central     829769.5               6
East        321007.0               3
West        154899.0               2

In [11]:
def sales_pct(df):
    data=pd.DataFrame()
    data=df.groupby(["Manager"])["Sale_amt"].sum()/df['Sale_amt'].sum()*100
    return data

In [12]:
sales_pct(df)

Manager
Douglas    18.308990
Hermann    27.963188
Martha     36.187629
Timothy    17.540193
Name: Sale_amt, dtype: float64